/*
 Hotel Vallora
 Author: Aaron Schmid
 Date: 26.10.2016
 Version: 1.0
*/


@import url('https://fonts.googleapis.com/css?family=Yellowtail'); /* Font for titles */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
	font-family: 'Josefin Sans', arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 24px;
	font-size: x-large;
	font-variant: small-caps;
	color: #b99b3d;
}

header h1 {
	color: #C5A643;
	font-size: 26px;
	font-size: xx-large;
	margin-left: 50px;
	display: inline;
	line-height: 250%;
}

h2 {
	font-family: 'Yellowtail', cursive;
	font-size: larger;
	font-variant: small-caps;
	color: #a0883c;
}

h3 {

}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

/* Navigation */

nav {
	float: right;
	margin-right: 30px;
	overflow: hidden;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
}

nav a {
	/*font-family: 'Yellowtail', cursive;*/
	display: block;
	float: left;
	color: white;
	text-align: center;
	padding: 34px 16px;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 15px;
}

nav a:after {
	display: block;
	content: "";
	border-bottom: solid 3px #C5A643;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}
nav a:hover:after {
	transform: scaleX(1);
}

nav a:hover {
	color: #C5A643;
}

header {
	z-index: 1000;
	position: fixed;
	width: 100%;
	top: 0;
	color: white;
	background-color: black;
}

footer div {
	max-width: 800px;
	padding: 2vw;
	margin: 0 auto;
}

article:first-of-type {
	margin-top: 60px;
}

section#image {
	background-image: url("../img/hotelnew.jpg");
	background-repeat: no-repeat;
	background-position: center top 0px;
    background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

section#image h1 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pageTitle{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	color: white;
	width: 100%;
	background-color: black;
	clear: both;
}

ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.list li {

}

.anchor{
	content: "";
	display: none;
}

.main{
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.space {
	content: "";
	width: 100%;
	height: 1px;
	margin-bottom: 50px;
}

.gallery {
	margin-left: 20px;
}

.gallery img {
	z-index: 0;
	max-width: 18em;
    height: 15em;
	object-fit: cover; /* IE? */
	transition: all .3s ease-out;
}

.gallery img:hover {
	z-index: 50;
	transform: scale(2);
}

.image-full {
	width: 100%;
}

img {
	transition: all .3s ease-out;
}
img:hover {
	z-index: 50;
	transform: scale(1.5);
}

#gallery-events img {
	max-width: 16em;
}

#gallery-guestrooms img {
	max-width: 21em;
}

/* Form */

form {
	float: none;
}

.book_form_name{
	border: none;
	border-bottom: 2px solid black;
	outline: none;
}

.book_form_select {
	width: 20%;
	padding: 15px 15px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.failtext{
	position: absolute;
	top: 17%;
	left: 29.7%;
	color: red;
}

.button{
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 1vw 0px;
	cursor: pointer;
	transition: background 1s;
}

.book_title{
	font-family: 'Roboto', sans-serif;
	color: black;
}

.roomtype_wrapper{
	padding: 15px 20px;
	border-radius: 4px;
	background-color: #ccc;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	outline: none;
	transition: border 1s;
}

input[type=text]:focus{
	border-bottom: 3px solid black;
}

input[type=date]{
	width: 100%;
}

.button:hover{
	background-color: peru;
}

.margin{
	margin-left: 1vw;
}

form input {
	box-sizing: border-box;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	padding: 6px;
	border-radius: 0px;
	margin-right: 20px;
	width: 15em;
	font-family: 'Josefin Sans', arial, verdana, sans-serif;
}

form input[type=submit] {
	width: 47.5em;
}

.type{
	width: 100%;
}

form.form-list {

}

form .title {
	margin: 0;
	margin-bottom: 10px;
}

form .required_notification {
	color: red;
	font-size: small;
}

form.form-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

form.form-list label {
}

ul.list-vertical li {
	margin: 20px 0;
}

ul.list-horizontal li {
	margin-right: 5%; width: 45%;
	display: inline-block;
}

ul.list-horizontal li:last-of-type {
	margin-right: 0;
}

/* Table */

table {
	border-collapse: collapse;
	margin: 0 auto;
	font-size: large;
}

caption {
	font-weight: bold;
}

tr, td {
	padding-right: 10px;
}

td {
	border-bottom: #b99b3d 1px solid;
}

td.centered {
	text-align: center;
}

/* search form rooms */
.feature-image {
	float: left;
	width: 256px;
	height: auto;
	max-width: 16em;
}
.feature-text {
	max-width: 65%;
	margin: 0;
	float: left;
	display: block;
}

.room-price{
  float: left;
}

.height{
	content: '';
	height: 89px;
}

ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: #eee;
	font-size: 17px;
	margin: 0;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}