Created by .ignore support plugin (hsz.mobi)
# JetBrains template
Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
User-specific stuff:
dea/workspace.xml
dea/tasks.xml
dea/dictionaries
dea/vcs.xml
dea/jsLibraryMappings.xml
Sensitive or high-churn files:
dea/dataSources.ids
dea/dataSources.xml
dea/dataSources.local.xml
dea/sqlDataSources.xml
dea/dynamic.xml
dea/uiDesigner.xml
Gradle:
dea/gradle.xml
dea/libraries
Mongo Explorer plugin:
dea/mongoSettings.xml
 File-based project format:
iws
 Plugin-specific files:
IntelliJ
ut/
mpeltonen/sbt-idea plugin
dea_modules/
JIRA plugin
lassian-ide-plugin.xml
Crashlytics plugin (for Android Studio and IntelliJ)
m_crashlytics_export_strings.xml
ashlytics.properties
ashlytics-build.properties
bric.properties
# Typo3 template
 TYPO3 v7.6
Ignore several upload and file directories.
ileadmin/user_upload/
ileadmin/_temp_/
ileadmin/_processed_/
ploads/
Ignore cache
ypo3conf/temp_CACHED*
ypo3conf/temp_fieldInfo.php
ypo3conf/deprecation_*.log
ypo3conf/AdditionalConfiguration.php
Ignore system folders, you should have them symlinked.
If not comment out the following entries.
ypo3
ypo3_src
ypo3_src-*
htaccess
ndex.php
Ignore temp directory.
ypo3temp/
# NetBeans template
project/private/
ild/
build/
st/
dist/
actions.xml
b-gradle/
# Node template
Logs
gs
log
m-debug.log*
Runtime data
ds
pid
seed
Directory for instrumented libs generated by jscoverage/JSCover
b-cov
Coverage directory used by tools like istanbul
verage
nyc test coverage
yc_output
Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
runt
node-waf configuration
ock-wscript
Compiled binary addons (http://nodejs.org/api/addons.html)
ild/Release
Dependency directories
de_modules
pm_packages
Optional npm cache directory
pm
Optional REPL history
ode_repl_history
# SublimeText template
cache files for sublime text
tmlanguage.cache
tmPreferences.cache
stTheme.cache
workspace files are user-specific
sublime-workspace
project files should be checked into the repository, unless a significant
proportion of contributors will probably not be using SublimeText
*.sublime-project
sftp configuration file
tp-config.json
Package control specific files
ckage Control.last-run
ckage Control.ca-list
ckage Control.ca-bundle
ckage Control.system-ca-bundle
ckage Control.cache/
ckage Control.ca-certs/
_unicode_properties.cache
Sublime-github package stores a github token in this file
https://packagecontrol.io/packages/sublime-github
tHub.sublime-settings
IntelliJ project files
dea
iml
t
n
# Mercurial template
g/
gignore
gsigs
gsub
gsubstate
gtags
# Dreamweaver template
DW Dreamweaver added files
otes
ompareTemp
nfigs/
sync.xml
_php_codehinting.config
mno
# Composer template
mposer.phar
endor/
# NetBeans template
project/private/
ild/
build/
st/
dist/
actions.xml
b-gradle/
# Composer template
mposer.phar
endor/
Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock
# Node template
Logs
gs
log
m-debug.log*
Runtime data
ds
pid
seed
Directory for instrumented libs generated by jscoverage/JSCover
b-cov
Coverage directory used by tools like istanbul
verage
nyc test coverage
yc_output
Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
runt
node-waf configuration
ock-wscript
Compiled binary addons (http://nodejs.org/api/addons.html)
ild/Release
Dependency directories
de_modules
pm_packages
Optional npm cache directory
pm
Optional REPL history
ode_repl_history
# Typo3 template
 TYPO3 v6.2
Ignore several upload and file directories.
ileadmin/user_upload/
ileadmin/_temp_/
ileadmin/_processed_/
ploads/
Ignore cache
ypo3conf/temp_CACHED*
ypo3conf/temp_fieldInfo.php
ypo3conf/deprecation_*.log
ypo3conf/AdditionalConfiguration.php
Ignore system folders, you should have them symlinked.
If not comment out the following entries.
ypo3
ypo3_src
ypo3_src-*
htaccess
ndex.php
Ignore temp directory.
ypo3temp/
# Sass template
ass-cache/
css.map
# Eclipse template
etadata
n/
p/
tmp
bak
swp
.nib
cal.properties
ettings/
oadpath
ecommenders
Eclipse Core
roject
External tool builders
xternalToolBuilders/
Locally stored "Eclipse launch configurations"
launch
PyDev specific (Python IDE for Eclipse)
pydevproject
CDT-specific (C/C++ Development Tooling)
project
JDT-specific (Eclipse Java Development Tools)
lasspath
Java annotation processor (APT)
actorypath
PDT-specific (PHP Development Tools)
uildpath
sbteclipse plugin
arget
Tern plugin
ern-project
TeXlipse plugin
exlipse
STS (Spring Tool Suite)
pringBeans
Code Recommenders
ecommenders/
# Dreamweaver template
DW Dreamweaver added files
otes
ompareTemp
nfigs/
sync.xml
_php_codehinting.config
mno
# JetBrains template
Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
User-specific stuff:
dea/workspace.xml
dea/tasks.xml
dea/dictionaries
dea/vcs.xml
dea/jsLibraryMappings.xml
Sensitive or high-churn files:
dea/dataSources.ids
dea/dataSources.xml
dea/dataSources.local.xml
dea/sqlDataSources.xml
dea/dynamic.xml
dea/uiDesigner.xml
Gradle:
dea/gradle.xml
dea/libraries
Mongo Explorer plugin:
dea/mongoSettings.xml
 File-based project format:
iws
 Plugin-specific files:
IntelliJ
ut/
mpeltonen/sbt-idea plugin
dea_modules/
JIRA plugin
lassian-ide-plugin.xml
Crashlytics plugin (for Android Studio and IntelliJ)
m_crashlytics_export_strings.xml
ashlytics.properties
ashlytics-build.properties
bric.properties
.idea